.header {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
  z-index: 100;
  padding: 0 24px 0 0;
  
  .icon {
    font-size: 16px;
    color: #8c8c8c;
  }

  .iconCompass {
    padding: 24px;
  }

  .right {
    height: 100%;
    display: flex;
    align-items: center;

    & > .action {
      cursor: pointer;
      padding: 0 12px;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .name {
        font-size: 1.2rem;
        margin-left: 1rem;
      }
    }
  }
}